@model AddTeacherFormModel

@{
    ViewData["Title"] = "Add teacher";
}

<div class="container">
    <div class="row">        
        <div class="col-md-4 col-sm-12">
            <h2 class="heading-margin text-center">Add teacher</h2>
            <form method="post">
                <div class="form-group">
                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Phone Number">
                        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <span asp-validation-for="Email" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Courses</label>
                    <select asp-for="@Model.CourseId1ToMany" asp-items="@(new SelectList(@Model.Courses, "Id", "Name"))" multiple class="form-control"></select>
                    <span asp-validation-for="CourseId1ToMany" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Student</label>
                    <select asp-for="@Model.StudentId" asp-items="@(new SelectList(@Model.Students, "Id", "Name"))" class="form-control"></select>
                    <span asp-validation-for="StudentId" class="small text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>